extends layout

block content
  #map.map
  input(type="text" id="search")
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCFcci8CR94IEtVcWnMAilWEOyaBigoQEk&libraries=places,visualization')
  script(src='/javascripts/init.js')