extends layout

block content
	.large-8.medium-7.small-6.container.columns.map-container
			#map.map
			input(type="text" id="searchbar" class="searchbar" placeholder="Buscar lugares cerca de...")
	.large-4.medium-5.small-6.container.columns.control-room
			.controls
				span.title How many hours do you have available?
				.range
					span 1
					input(type="range" id="range" min="1" max="12" onchange="changeRange()")
					span 12
					span#inner-hours
			#pick.pick-container

	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCFcci8CR94IEtVcWnMAilWEOyaBigoQEk&libraries=places,visualization')
	script(src='/javascripts/init.js')