grey = #ddd
accent = #009688
accent-darker = #006A60
html,
body
	margin 0
	padding 0
	font-size 16px
	font-family Helvetica
	display block
	width 100%
	height 100%
	overflow hidden
	max-height 50em
.container
	display block
	height 100%
	padding 0
	.map
		width 100%
		height 100%
		position relative
		display block
		i
			display block
			color accent
			cursor pointer
		.location-inside
				color rgb(25,25,25)
				font-family "Roboto", "Helvetica"
				font-size 1em
				padding 5px
		.location-outside
			display block
			background #fff
			border 2px solid #fff
			border-radius 3px
			cursor pointer
			margin 22px 8px
			// text-align center
			box-shadow 0 2px 6px rgba(0, 0, 0, 0.3)
			
			&:hover
				background accent
				border-color accent
				transition all .3s ease
			&:hover i
				color #fff
				transition all .3s ease
	.controls
		display block
		background #fff
		text-align center
		padding 1em 1em 0
		height auto
		span
			color #444
			font-weight normal
			&.title
				font-weight bold
		.range
			width 100%
			padding 1em 0
			span
				vertical-align middle
			#inner-hours
				display block
				width 100%
		.select
			display block
			height 1em
			position relative
			padding 0
			width 100%
			height auto
			i
				float left 
				margin-left 7.5%
				color accent
				cursor pointer
			span
				display block
				text-align right
				padding-right 1em
	.pick-container
		display block
		padding 0 1em 1em
		max-height calc(100% - 15em)
		overflow-y auto
		border-top 1px solid grey
		border-bottom 1px solid grey
		.option
			border-bottom 1px solid grey
			text-align right
			position relative
			.title
				font-size .9em
				display inline-block
			.time
				font-size .8em
				display block
			input[type=checkbox]
				float left 
				margin-left 10%
				margin-top 1.5em
				&:focus
					outline: none
		.please
			display block
			position: relative
			padding 1em 1em 0
			text-align center
	.result
		display block
		padding 1em 1em 2em
		text-align right
		.print
			display inline-block
			padding-right 1.5em
			input[type=submit]
				background #fff
				border 2px solid accent
				color accent-darker
				font-size 1em
				padding .2em 1em
				&:hover
					background accent
					color #fff
					border 2px solid accent
					transition all ease .3s
		.result-inner
			display inline-block
.visible
	transform translateY(150px)
	opacity 0
	z-index -1
	animation come-in 0.8s ease forwards
.already-visible
	transform translateY(0)
	animation none
.send-mail
	position fixed
	top 0
	right 0
	z-index -1
	opacity 0
	background #fff
	.controls
		margin-top 20%
		.form
			padding 3em 1em
			text-align right
			.input
				display block
				background #fff
				border 1px solid grey
				width 100%
				font-size 1em
				padding .3em 1em
				margin-bottom .5em
				color #666
				&:focus
					outline none
			.send
				background #fff
				border 2px solid accent
				color accent-darker
				font-size 1em
				padding .3em 1em
				&:hover
					background accent
					color #fff
					border 2px solid accent
					transition all ease .3s
				&:focus
					outline none

@keyframes come-in{ 
	to {
		transform translateY(0)
		z-index 1
		opacity 1
	}
}

input[type=range]
	margin 0 1em
	min-width 10em
	&:focus
		outline none
input[type=range]
	-webkit-appearance none
	border 1px solid white

input[type=range]::-webkit-slider-runnable-track
	width 100%
	height 5px
	background grey
	border none
	border-radius 3px

input[type=range]::-webkit-slider-thumb
	-webkit-appearance none
	border 1px solid grey
	height 16px
	width 16px
	border-radius 50%
	background #fff
	margin-top -5px

input[type=range]:focus
	outline none
	&::-webkit-slider-runnable-track
		background #ccc
	&::-ms-fill-lower
		background #888
	&::-ms-fill-upper
		background #ccc

input[type=range]::-moz-range-track
	width 300px
	height 5px
	background grey
	border 1px solid grey
	border-radius 3px

input[type=range]::-moz-range-thumb
	border none
	height 16px
	width 16px
	border-radius 50%
	background #fff

input[type=range]:-moz-focusring
	outline 1px solid white
	outline-offset -1px

input[type=range]::-ms-track
	width 300px
	height 5px
	background transparent
	border-color transparent
	border-width 6px 0
	color transparent

input[type=range]::-ms-fill-lower
	background #777
	border-radius 10px

input[type=range]::-ms-fill-upper
	background grey
	border-radius 10px

input[type=range]::-ms-thumb
	border 1px solid grey
	height 16px
	width 16px
	border-radius 50%
input[type=checkbox]
	position relative
	top -0.375rem
	margin 0 1rem 0 0
	cursor pointer
	&:focus
		outline none
	&:before
		outline none
		-webkit-transition all 0.3s ease-in-out
		-moz-transition all 0.3s ease-in-out
		transition all 0.3s ease-in-out
		content ""
		position absolute
		left 0
		z-index 1
		width 1rem
		height 1rem
		border 2px solid grey
	&:checked
		&:before
			-webkit-transform rotate(-45deg)
			-moz-transform rotate(-45deg)
			-ms-transform rotate(-45deg)
			-o-transform rotate(-45deg)
			transform rotate(-45deg)
			height .5rem
			border-color accent
			border-top-style none
			border-right-style none
	&:after
		content ""
		position absolute
		top -0.125rem
		left 0
		width 1.1rem
		height 1.1rem
		background #fff
		cursor pointer

.searchbar
	margin-top 10px
	border 1px solid transparent
	border-radius 2px 0 0 2px
	box-sizing border-box
	-moz-box-sizing border-box
	height 32px
	outline none
	box-shadow 0 2px 6px rgba(0, 0, 0, 0.3)
	background-color #fff
	font-family Roboto
	font-size 15px
	font-weight 300
	margin-left 12px
	padding 0 11px 0 13px
	text-overflow ellipsis
	width 300px