html,
body
	margin 0
	padding 0
	font-size 16px
	font-family Helvetica
	display block
	width 100%
	height 100%

.map
	width 100%
	height 100%
	position relative
	display block
	i
		display block
		color #009688
	.location-inside
			color rgb(25,25,25)
			font-family "Roboto", "Helvetica"
			font-size 1em
			padding 5px
	.location-outside
		display block
		background #fff
		border 2px solid #fff
		border-radius 3px
		cursor pointer
		margin 22px 8px
		text-align center
		&:hover
			background #00796B
			border-color #00796B
			transition all .3s ease
		&:hover i
			color #fff
			transition all .3s ease